.title {
    font-size: 35px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;

    border: 1px solid black;
    margin: 1em auto 2em;
    padding: 0.5em;
}